!!!
%html
  %head
    %title ChatSpace
  %body
    .header
    .content
      .side-menu
        .side-header
          %p.side-header__username
            = current_user.name
          %ul.side-header__icon
            %li.side-header__create-group
              = link_to new_group_path do
                %i.fa.fa-edit
            %li.side-header__edit-user
              = link_to edit_user_registration_path(current_user) do
                %i.fa.fa-cog
        .side-content
          = render '/shared/side-content'
      .main-menu
        .main-header
          .group
            %p.group__name testgroup
            %p.group__member Member: testmember
          .main-header__btn-edit
            = link_to('Edit', 'https://tech-camp.in/expert', {class: 'link__edit'})
        .main-content
          = render '/messages/main-content'
        .main-input
          = form_for [@group, @message], html: {class: 'main-form'} do |f|
            .main-form__box
              = f.text_field :body, class: 'main-form__text', placeholder: 'type a message'
              = f.label :image, class: 'main-form__image-button' do
                %i.fa.fa-image
                  = f.file_field :image, class: 'main-form__file'
            = f.submit 'Send', class: 'main-form__submit-button'
